$headerColor: #326ce5;
$lightBorder: 0.5px solid #a5a5a5;
$lightBackground: #ffffff;
$mediumBackground: #ddefff;

// The borders on everything just helps visually to see where the components end/start, they *SHOULD* be removed eventually

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

#origin {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  // When we integrate better media queries, we can edit the sidebar width when the screen gets smaller
  grid-template-columns: 10% 90%;
  grid-template-rows: 8% 89% 3%;
}

.getStyle {
  background: $lightBackground;
  border: $lightBorder;
}

.sideNav {
  position: sticky;
  grid-row: 2;
  grid-column: 1;
  background: $lightBackground;
  box-shadow: 3px 3px 10px lightgray;
  height: 100vh;
}

.mainDashboard {
  background: $lightBackground;
  border: $lightBorder;
  grid-column: 2;
  grid-row: 2;
  padding: 0 3em 10em 3em;
}

.scrollBar {
  background: $lightBackground;
  border: $lightBorder;
}

.header {
  position: sticky;
  top: 0;
  max-height: 5em;
  background: $headerColor;
  grid-column: 1 / 3;
  grid-row: 1;
  border: $lightBorder;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 10px lightgray;
}

#title {
  color: white;
  font-size: 60px;
  text-shadow: 1px 1px 3px 20px rgb(97, 97, 97);
}

#menu_icon {
  margin-left: 3%;
}

#bell_icon {
  margin-right: 3%;
}

.footer {
  background: $headerColor;
  color: white;
  border: $lightBorder;
  grid-row: 3;
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  background: $lightBackground;
  border: $lightBorder;
}

.titleText {
  text-align: center;
  color: rgb(25, 25, 65);
}

@media (max-width: 768px) {
  .sidenav {
    display: none;
  }
}
